@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
  display: grid;
  grid-template-areas: "top top" "text rocket" "text rocket" "bottom bottom";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
}
main .img-top {
  grid-area: top;
  width: 100vw;
}
main .text {
  width: 100%;
  grid-area: text;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
main .text h1 {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  color: #9C9AB6;
  text-transform: uppercase;
}
main .text .cadastro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
main .text .cadastro .btn {
  width: 130px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  margin: auto;
  background-color: #6C63FF;
  border-radius: 8px;
  border: 2px solid #554cfd;
  color: white;
  cursor: pointer;
}
main .text .cadastro .btn:hover {
  background-color: #554cfd;
  transition: 0.3s ease-in;
}
main .text .timer {
  display: flex;
  gap: 30px;
}
main .text .timer div {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
main .text .timer div span {
  font-size: 5rem;
  color: #6C63FF;
}
main .text .timer div p {
  text-align: center;
}
main #modal {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.576);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
main #modal form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #modal #box {
  width: 50%;
  height: 50%;
  background-color: #9292e1;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #5952e4;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main #modal #box .top-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
main #modal #box .top-box input {
  width: 60px;
  background-color: #6C63FF;
  border: 2px solid #5454e6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
main #modal #box .top-box input:hover {
  background-color: #5454e6;
}
main #modal #box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main #modal #box div input {
  width: 60%;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #a09b9b;
  padding: 3px;
  outline: 1px solid #706f6f;
}
main #modal #box div input:hover {
  background-color: #cfcccc;
  transition: 0.5s;
}
main #modal #box #submit {
  width: 130px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  margin: auto;
  background-color: #6C63FF;
  border-radius: 8px;
  border: 2px solid #554cfd;
  color: white;
  cursor: pointer;
}
main #modal #box #submit:hover {
  background-color: #554cfd;
  transition: 0.3s ease-in;
}
main #modal.active {
  display: flex;
}
main .img-rocket {
  grid-area: rocket;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}
main .img-rocket img {
  width: 100%;
}
main .img-bottom {
  grid-area: bottom;
  width: 100vw;
}

@media screen and (max-width: 1051px) {
  main {
    grid-template-areas: "top top" "text text" "rocket rocket" "bottom bottom";
    grid-template-columns: 100%;
  }
  main .text {
    width: 100vw;
    padding: 0;
  }
  main .img-rocket {
    width: 30%;
    width: 100%;
  }
  main .img-rocket img {
    width: 40%;
    float: right;
    margin-right: 40px;
  }
}
@media screen and (max-width: 612px) {
  main #timer div span {
    font-size: 3.3rem;
  }
  main .img-rocket {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  main .img-rocket img {
    margin: auto;
    float: none;
  }
}
@media screen and (max-width: 461px) {
  main .text h1 {
    font-size: 1.5rem;
  }
  main .text #timer {
    gap: 22px;
  }
  main .text #timer div {
    padding: 0;
  }
  main .text #timer div span {
    font-size: 3rem;
  }
  main .text .cadastro h3 {
    font-size: 0.8rem;
  }
  main #modal #box {
    width: 80%;
  }
}
@media screen and (max-width: 351px) {
  main .text h1 {
    font-size: 1.5rem;
  }
  main .text #timer {
    gap: 15px;
  }
  main .text #timer div {
    padding: 0;
  }
  main .text #timer div p {
    font-size: 0.7rem;
  }
  main .text #timer div span {
    font-size: 3rem;
  }
  main .text .cadastro h3 {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
